header{
	background:white;
	width:98%;
    
    display: flex;
    background-color: aqua;
    padding: 10px;
    border: 2px solid black;
    justify-content: flex-end;



    
 
}

header div {
    background-color: gainsboro;
    width: 100px;
    margin: 1px;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    
}
h1{
    padding: 40px ;
    border: 2px solid black
 
}
h2{
    
    padding:0px ;
    
}

.Cuerpo{
display: flex;
flex-flow: row, wrap;

}



.div1{
    width: 70%;
    padding:0px ;
    border:2px solid black;
}

.div2{
    width: 30%;
    padding: 20px;
    margin: 20px;
    border:2px solid black;
}

footer{
    border: 2px solid black;
    margin: 1px;
    display: flex;
    flex-direction: row;
}

footer div{
background-color: aqua;
    padding: 20;
    width: 150px;
    margin: 2px;
    text-align: center;
}

.imgs{
    background-color: #fff;
    display: flex;
    flex-direction: column;

}
.imgs1{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
}
.imgs1 h3{
    padding: 10px;
}
.imgs1 .im11{
    
    padding-left: 20px;

}

.im11 h3{
    text-align: center;

}

.im1{
    padding: 20px;
}
    
.div2c{
    padding: 0px;
width: 100%;
display: flex;
flex-direction: row;

}

.di1{
    align-items: center;
    width: 60%;
    padding: 0px;
}
.di2{
    align-items: center;
    width: 30%;
    padding: 0px;
}
.pa{
    padding: 0px;
    width: 100%;
}

.dim{
    border: 2px solid black;
margin: 1px;
}

.dimb{
    text-align: center;
    padding: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.dimb a{
    width: 40%;
    margin: 0 auto;
    
    padding: 20px;
    background-color: aqua;
    border: 2px solid black;
}